.BookDetails {
    padding-top: 48px;
    position: relative;
}

.BookDetails-summary {
    margin: 0 auto;
    width: 600px;
}

.MuiButtonBase-root.BookDetails-button--back {
    position: absolute;
    left: 8px;
    top: -8px;
}
