.App {
  text-align: center;
}

.App-header {
    background-color: #282c34;
    color: white;
    display: flex;
    font-size: 32px;
    height: 140px;
    justify-content: center;
    position: relative;
}

.App-title {
    top: 32px;
}

.App-switch {
    position: absolute;
    bottom: 8px;
    right: 0;
}

.App-body {
    padding-top: 40px;
}

/* Needed to override Material UI's styles */
.MuiButtonBase-root.App-add-button {
    position: absolute;
    bottom: 8px;
}
